# ---------- Repository Secrets ---------- #

# Required for GitHub Actions webhook mode
DISCORD_WEBHOOK_URL=


# ---------- Repository Variables ---------- #

# Max characters of the video description shown in the embed
YT_DESCRIPTION_LIMIT=350
